@model List<Category>

    <div>
        CategoryList

    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                <th>
                   Name
                </th>
                <th>
                    Id
                </th>
                </tr>
            </thead>
        </table>
    </div>